<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login Page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
    </head> 
	<body>
		<h1 id="dsadsdasS">hi</h1>
        Protected Area
        <input class="uk-input uk-width-1-2" id="emailLogin" type="email" placeholder="email">
        <button id="Forgotpassword">Forgot Password</button>
        
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        <script src="js/forgot.js"></script>
        
	</body>
</html>