<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login Page</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/uikit.min.css" />
    </head> 
	<body>
		<h1 id="resultHere"></h1>
        
        <input class="uk-input uk-width-1-2" id="newpassword" type="password" placeholder="password">
        <input class="uk-input uk-width-1-2" id="confirmnewpassword" type="password" placeholder="confirm password">
                
        <button id="changepassword">submit</button>
        <link rel="stylesheet" href="/css/app.css">
        
		<script src="js/uikit.min.js"></script>
		<script src="js/uikit-icons.min.js"></script>
        <script src="js/reset.js"></script>
        
	</body>
</html>
